body {
    margin: 0;
    background: #fff;
    font-family:Roboto, Arial, Helvetica, sans-serif ;
    
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
  }
  

  
  .header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: #1f2937;
   
  }

  .logo {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    font-style: Roboto;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }
  
  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }