body {
    margin: 0 auto;
    background: #fff;
    font-family:Roboto, Arial, Helvetica, sans-serif ;
    text-align: center;

    
}



a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
  }
  

  
  .header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: #1f2937;
   
  }

  .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    font-style: Roboto;
    margin-right: 370px;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }
  
  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .fotos {
    width: 400px;
    height: 200px;
  }
  img {
    width: 100px;
    height: 100px;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    gap: 52px;
    background-color: #1f2937;
    padding-top: 50px;
  
  }

  .title {
    font-size: 36px;
    font-weight: 900;
    margin-top: 32px;
  }
  .info {
  
    max-width: 300px;
  }

  
  .text {
    font-style: Roboto;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
  }
  .texts {
    font-style: Roboto;
    font-size: 18px;
    color: #1f2937;
    
  
  }

 .btn{
  margin-top: 10px;
  margin-bottom: 50px;
  
  
 }
 button {
  background-color: #3882f6 ;
  border-radius: 7px;
  color: #f9faf8;
  font-size: 20px;
  border: none;
  width: 100px;
  
 }
 .containers {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 50px;
  
  

  
 }
 .infos {
  max-width: 180px;
  border: 2px solid #3882f6;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 10px;
 }
 .nota {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 100px;
  
  
 }
 .notaone {
  padding-top: 20px;
 }
 .notatwo {
  padding-top: 20px;
  padding-left: 20px;
 }
 .notathree {
  padding-top: 20px;
  padding-left: 29px;
 }
 .notafour {
  padding-top: 20px;
  padding-left: 35px;
 }
 .lorem {
  padding: 100px;
  background-color: #e5e7eb;
 }
 .junior {
  text-align: end;
  padding-top: 10px;
 }
